# Prerequisites
*.d

# TextFiles
#*.txt
*.csv

# Job reports & outputs
ANALYSIS/scripts/JobReport/
cbasile.cc

# Trained models
ANALYSIS/MVA/MVA/models/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*/analysisGenLevel
*/RecoChainAnalysis
*/X3872Application
*/MVAcutter
*.exe
*.out
*.app

# Graphycs
*.root
*.pcm
*.png
*.pdf

# Swap file
*.swo
*.swp
*~
*.pyc
