# Prerequisites
*.d

# TextFiles
*.txt

# Job reports
*/JobReport/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Graphycs
*.root
*.pcm
*.png
*.pdf

# Swap file
*.swo
*.swp
*~
